#nav__main {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  z-index: 100;
}

#nav__top {
  /* border: 1px solid black; */
  height: 2rem;
  width: 100%;
  background-color: rgb(62, 14, 107);
}

#nav__medium {
  /* border: 1px solid black; */
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
  display: grid;
  grid-template-columns: 10% 44% 16% 21%;
  align-items: center;
  column-gap: 3%;
  /* height:3rem; */
  /* width:100%; */
  padding: 1rem;
  background-color: rgb(245, 249, 255);
}

#nav__logo {
  /* border: 1px solid black; */
  height: 100%;
  width: 100%;
}

#nav__menu {
  /* border: 1px solid black; */
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
#nav__menu > div {
  /* border: 1px solid black; */
  /* height:100%; */
  /* width:100%; */
  display: flex;
  align-items: center;
  gap: 0.7rem;
}
#nav__menu > div {
  font-size: 13px;
  color: #4f3267;
}
.nav__icone__logo {
  font-size: 1.4rem;
}

#nav__search {
  /* border:1px solid black; */
  display: flex;
  align-items: center;
}
#nav__search > input {
  padding-left: 10px;
  height: 2rem;
  width: 85%;
  border: 1px solid #5c36cf;
  border-radius: 5px 0 0 5px;
}
#nav__search > input:focus {
  outline: none;
}
#nav__search > button {
  height: 2rem;
  width: 15%;
  border: none;
  background: linear-gradient(to right, #de57e5 0%, #8863fb 100%);
  border-radius: 0 5px 5px 0;
}
.nav__icone__search {
  font-size: 1.4rem;
  color: white;
  /* fill: rgba(13, 239, 13, 0.751) */
}

/* navbar authorization menu css */
#nav__auth__menu {
  /* border: 1px solid green; */
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1.8rem;
}
#nav__auth__menu > div:nth-child(2) {
  /* border:1px solid black; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  gap: 1.8rem;
}
#nav__auth__menu > div:nth-child(1) {
  display: flex;
  align-items: center;
}
#nav__auth__menu > div:nth-child(1) > p {
  font-size: 12px;
  font-weight: bold;
  color: #1d1632;
}

.nav__auth__icone {
  font-size: 1.5rem;
}
#nav__auth__menu > div:nth-child(2) > div:nth-child(1) {
  border-radius: 50%;
  width: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.flag {
  width: 140%;
  height: 100%;
}
.nav__icon {
  font-size: 1.2rem;
  fill: black;
}

/* hover navbar */
#nav__bottom {
  /* border:1px solid black; */
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: relative;
  background-color: white;
}
