
.upper {
    color: rgb(64, 61, 61);
    font-size: 25px;
    margin-top: 40px;
    text-align: left;
  }
  .card:hover {
    transform: scale(1.05) translateZ(10px);
  }
  .wrapper {
    display: flex;
  justify-content: space-between;
  }
  
  .wrapper::before {
    /* border-left: 3px solid black; */
    height: 100%;
    margin-right: 10px;
  }
  .menu {
    margin-top:0px;
    padding-top: 0px;
  }
  .childmenu {
    border: "1px solid black";
    width: "180px";
    height: "300px";
    text-align: "center";
    background-color: white;
    height: 300px;
    width: 180px;
    text-align: left;
    
  }
  
 
  
  .childhover:hover {
    background-color: grey;
    cursor:mouse;
  }
  .childhover {
    background-color: white;
    padding-left: 10px;
    height: 40px;
    /* border:2px solid black; */
  }